<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search Book - Google Books API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating">ISBN</ion-label>
      <ion-input clearInput [(ngModel)]="this._isbn"></ion-input>
    </ion-item>
    <ion-button expand="full" fill="outline" (click)="this.scanBarcode()">
      <ion-icon name="barcode"> </ion-icon>
      <ion-label>Scan ISBN</ion-label>
    </ion-button>
    <ion-item>
      <ion-label position="floating">Author</ion-label>
      <ion-input clearInput [(ngModel)]="this._inauthor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input clearInput [(ngModel)]="this._intitle"></ion-input>
    </ion-item>
    <ion-button (click)="this.searchBook()" expand="full">Search Book</ion-button>
  </ion-list>

  <ion-list class="books" lines="none" *ngIf="this._bookList">
    <ion-item>
      <ion-label>{{ this._totalResults }} result(s) </ion-label>
    </ion-item>
    <ion-item class="book" *ngFor="let  book of this._bookList; index as bookIdx">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="3" size="12">
            <ion-img class="book-cover" [src]="book.volumeInfo.imageLinks| bookCover"></ion-img>
            <ion-item class="ion-text-center">
              <ion-icon class="book-rating" *ngFor="let star of _rating; index as i"
                [name]="i < book.volumeInfo.averageRating ? 'star' : 'star-outline'"></ion-icon>
            </ion-item>
            <ion-button *ngIf="book.volumeInfo.previewLink" expand="full"
              (click)="openLink(book.volumeInfo.previewLink)">
              Preview
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-list lines="none">
              <ion-item>
                <ion-text class="ion-text-justify">
                  <h1>{{ book.volumeInfo.title | trimString:150 }}</h1>
                  by {{ book.volumeInfo.authors?.join(', ') }}
                  <p>
                    {{book.volumeInfo.publishedDate }}
                  </p>
                </ion-text>
              </ion-item>

              <ion-item *ngIf="book.volumeInfo.categories">
                <ion-chip *ngFor="let category of book.volumeInfo.categories">
                  {{ category }}
                </ion-chip>
              </ion-item>

              <ion-item>
                <ion-text #bookDescr class="book-descr ion-text-justify">
                  {{( book.volumeInfo.description || book.searchInfo?.textSnippet || 'No Description') }}
                </ion-text>
              </ion-item>

              <ion-button *ngIf="book.volumeInfo.description?.length > 190" (click)="toggleShow($event, bookDescr)"
                expand="full" fill="outline">
                SHOW MORE
              </ion-button>

              <ion-item>
                <ion-text>
                  <strong>No. Pages: </strong>
                  {{ book.volumeInfo.pageCount }}
                </ion-text>
              </ion-item>

              <ion-item *ngFor="let isbn of book.volumeInfo.industryIdentifiers">
                <ion-text>
                  <strong>{{ isbn.type }}: </strong>
                  {{ isbn.identifier }}
                </ion-text>

              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll #infiniteScroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-item *ngIf="!this._bookList" class="ion-text-center">
    <ion-label>
      <ion-icon name="search"></ion-icon> Start setting the search parameters
    </ion-label>
  </ion-item>
</ion-content>