.books {
  margin: 0;
  padding: 0;
}

.book {
  border-bottom: 1px solid rgba(179, 179, 179, 0.3);
}

.book-cover {
  height: 250px;
  width: auto;
  margin: auto;
}

.book-rating {
  color: rgb(255, 225, 0);
}

.book-descr {
  overflow: hidden;
  line-height: 1.5em;
  height: 6em;
  text-overflow: ellipsis;
}

.book-descr.show-more {
  line-height: 1.5em;
  height: auto;
}

ion-fab {
  margin: 20px;
}
